/* настройки шрифтов */
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans.eot');
  src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans.woff2') format('woff2'), url('../fonts/OpenSans.woff') format('woff'), url('../fonts/OpenSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'RobotoSlab';
  src: url('../fonts/RobotoSlab-Regular.eot');
  src: url('../fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoSlab-Regular.woff2') format('woff2'), url('../fonts/RobotoSlab-Regular.woff') format('woff'), url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'OpenSans-bold';
  src: url('../fonts/OpenSans-Bold.eot');
  src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold.woff2') format('woff2'), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* настройки цветов */
/* текст */
/* фоновые цвета */
/* #626c75 */
/* базовые настройки */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "OpenSans", sans-serif;
  font-weight: 300;
}
a,
button,
input,
textarea,
select {
  outline: none;
  text-decoration: none;
}
a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
/* контейнер для контента */
.container {
  max-width: 1000px;
  margin: 0px auto;
}
@media (max-width: 992px) {
  html {
    font-size: 8px;
  }
  .container {
    max-width: 750px;
  }
}
@media (max-width: 768px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.section {
  padding: 10rem 0px;
}
/* кнопки */
.button {
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  color: #ffffff;
  background-color: #5886f5;
  border-radius: 2px;
  border-width: 0px;
}
.button:hover {
  background-color: #4075f4;
}
/* заголовки */
.title {
  font-size: 2.8rem;
}
/* header */
.header {
  font-size: 1.6rem;
  background-color: #000000;
  color: #ffffff;
}
.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
}
.header__phone {
  margin-right: 3rem;
  color: #ffffff;
}
.header__phone:hover {
  color: #e6e6e6;
}
.header__button {
  padding: 1rem 1.5rem;
  color: #ffffff;
  background-color: #5886f5;
  border-radius: 2px;
  border: none;
}
.header__button:hover {
  background-color: #4075f4;
}
.logo {
  font-family: "RobotoSlab", sans-serif;
}
.logo__title {
  font-size: 2.7rem;
  text-transform: uppercase;
  color: #e8aa31;
}
.logo__word {
  color: #ffffff;
}
/* main section */
.main {
  padding-top: 10rem;
  height: 600px;
  background: url(../img/bg-main.jpg) center no-repeat;
  background-size: cover;
}
.main__wrap {
  padding: 4rem;
  max-width: 450px;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.main__title {
  font-size: 3.4rem;
  font-weight: normal;
}
.main__word {
  font-family: "OpenSans-bold", sans-serif;
  font-weight: 700;
}
.main__subtitle {
  margin-top: 3rem;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.5;
}
.main__button {
  margin-top: 3rem;
}
@media (max-width: 992px) {
  .main__wrap {
    max-width: 360px;
  }
}
@media (max-width: 480px) {
  .header__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 80px;
  }
  .header__button {
    display: none;
  }
  .header__order {
    margin-top: -1rem;
  }
  .main {
    background: url(../img/bg-main-xs.jpg) right no-repeat;
    background-size: cover;
  }
  .main__wrap {
    margin: auto;
  }
  .main__title {
    font-size: 2.5rem;
  }
  .main__subtitle {
    margin-top: 2rem;
  }
  .main__button {
    display: block;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    width: 155px;
  }
}
/* наши преимущества */
.features__title {
  font-weight: normal;
}
.features__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}
.features__text {
  display: inline-block;
  margin-top: 3rem;
  font-size: 1.4rem;
  line-height: 21px;
  color: #707070;
}
.feature {
  text-align: center;
}
.feature__img-bg {
  position: relative;
  width: 220px;
  height: 140px;
  text-align: center;
  background-color: #5686ae;
}
.feature__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
