/* настройки шрифтов */
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans.eot');
  src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans.woff2') format('woff2'), url('../fonts/OpenSans.woff') format('woff'), url('../fonts/OpenSans.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'RobotoSlab';
  src: url('../fonts/RobotoSlab-Regular.eot');
  src: url('../fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoSlab-Regular.woff2') format('woff2'), url('../fonts/RobotoSlab-Regular.woff') format('woff'), url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'OpenSans-bold';
  src: url('../fonts/OpenSans-Bold.eot');
  src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold.woff2') format('woff2'), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* настройки цветов */
/* текст */
/* фоновые цвета */
/* #626c75 */
/* рамки */
/* базовые настройки */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "OpenSans", sans-serif;
  font-weight: 300;
}
a,
button,
input,
textarea,
select {
  outline: none;
  text-decoration: none;
}
a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
/* кнопки */
.button {
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  color: #ffffff;
  background-color: #5886f5;
  border-radius: 2px;
  border-width: 0px;
}
.button:hover {
  background-color: #4075f4;
}
/* заголовки */
.title {
  font-size: 2.8rem;
  font-weight: normal;
}
.section {
  padding: 8rem 0px 1rem 0px;
}
/* контейнер для контента */
.container {
  max-width: 1100px;
  margin: 0px auto;
}
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 8px;
  }
  .container {
    max-width: 750px;
  }
  .title {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* header */
.header {
  font-size: 1.6rem;
  background-color: #000000;
  color: #ffffff;
}
.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
}
.header__phone {
  margin-right: 3rem;
  color: #ffffff;
}
.header__phone:hover {
  color: #e6e6e6;
}
.header__button {
  padding: 1rem 1.5rem;
  color: #ffffff;
  background-color: #5886f5;
  border-radius: 2px;
  border: none;
}
.header__button:hover {
  background-color: #4075f4;
}
.logo {
  font-family: "RobotoSlab", sans-serif;
}
.logo__title {
  font-size: 2.7rem;
  text-transform: uppercase;
  color: #e8aa31;
}
.logo__word {
  color: #ffffff;
}
/* main section */
.main {
  padding-top: 10rem;
  height: 600px;
  background: url(../img/bg-main.jpg) center no-repeat;
  background-size: cover;
}
.main-block {
  padding: 4rem 5.5rem;
  max-width: 480px;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.main-block__title {
  margin: 0px;
  font-size: 3.4rem;
  font-weight: normal;
}
.main-block__word {
  font-family: "OpenSans-bold", sans-serif;
  font-weight: 700;
}
.main-block__subtitle {
  margin-top: 3rem;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.5;
}
.main-block__button {
  margin-top: 3rem;
}
@media (max-width: 1200px) {
  .main {
    background-position: 55%;
  }
}
@media (max-width: 768px) {
  .main {
    background-position: 70%;
  }
  .main__block {
    margin: auto;
  }
}
@media (max-width: 992px) {
  .main-block {
    padding: 4rem;
    max-width: 380px;
  }
}
@media (max-width: 480px) {
  .header__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 80px;
  }
  .header__button {
    display: none;
  }
  .header__order {
    margin-top: -1rem;
  }
  .main {
    background: url(../img/bg-main-xs.jpg) right no-repeat;
    background-size: cover;
  }
  .main-block__title {
    font-size: 2.5rem;
  }
  .main-block__subtitle {
    margin-top: 2rem;
  }
  .main-block__button {
    display: block;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    width: 155px;
  }
}
/* наши преимущества */
.features__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5rem;
}
.features__text {
  display: inline-block;
  margin-top: 3rem;
  font-size: 1.4rem;
  line-height: 21px;
  color: #707070;
}
.feature {
  text-align: center;
}
.feature__img-bg {
  position: relative;
  width: 220px;
  height: 140px;
  text-align: center;
}
.feature__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.feature_one {
  background-color: #617192;
}
.feature_two {
  background-color: #1d9fd1;
}
.feature_three {
  background-color: #5686ae;
}
.feature_four {
  background-color: #5a8596;
}
@media (max-width: 992px) {
  .features__wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .feature {
    margin: 0rem 2rem 4rem 2rem;
  }
}
/* карточки товаров */
.cards {
  padding-bottom: 8rem;
}
.cards__title {
  margin-bottom: 5rem;
}
.cards__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.cards__card {
  margin-bottom: 2rem;
}
.cards__img-wrap {
  position: relative;
  margin: 3rem auto;
  max-width: 280px;
  min-width: 250px;
  height: 250px;
}
.card {
  position: relative;
  padding: 2rem;
  max-width: 540px;
  min-width: 280px;
  background-color: #f1f5f9;
}
.card__title {
  font-size: 2.2rem;
  font-weight: normal;
}
.card__description {
  position: relative;
  margin-top: 2rem;
  height: 6.5rem;
  font-size: 1.4rem;
  color: #707070;
  overflow: hidden;
}
.card__description::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(241, 244, 249, 0.1)), to(#f1f4f9));
  background: linear-gradient(rgba(241, 244, 249, 0.1) 60%, #f1f4f9);
}
.card__img {
  display: block;
  max-width: 265px;
  min-width: 200px;
  height: 100%;
  margin: 0px auto;
}
.card__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__price {
  font-size: 2.4rem;
  font-weight: normal;
  color: #707070;
}
.card__link {
  position: absolute;
  top: 16rem;
  right: 3rem;
  font-size: 1.4rem;
  text-align: right;
  color: #707070;
  cursor: pointer;
}
.card__link:hover {
  border-bottom: 1px dotted #707070;
}
@media (max-width: 1200px) {
  .card {
    max-width: 475px;
  }
}
@media (max-width: 992px) {
  .card {
    max-width: 365px;
  }
}
@media (max-width: 768px) {
  .cards__wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cards__card {
    margin: 2rem;
  }
}
/* скидка 10 % */
.discount {
  padding-bottom: 8rem;
  background: url(../img/discount/discount-bg.jpg) center no-repeat;
  background-size: cover;
}
.discount__form {
  margin-top: 4rem;
}
@media (max-width: 1200px) {
  .discount {
    background-position: 60%;
  }
}
@media (max-width: 768px) {
  .discount {
    background-position: 70%;
  }
  .discount__block {
    margin: auto;
  }
}
@media (max-width: 768px) and (max-width: 480px) {
  .discount {
    background-position: 85%;
  }
}
/* 4 простых шага */
.step {
  padding-bottom: 4rem;
}
.step__title {
  margin: 0px 0px 4rem 0px;
}
.step__text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.step__text {
  margin-bottom: 3rem;
  width: 25%;
  font-size: 1.4rem;
  color: #707070;
}
.step__text_bottom {
  position: relative;
  top: 150px;
}
.step__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.2rem 0px;
  width: 100%;
  height: 30px;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  color: #707070;
  font-family: "OpenSans-bold", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  border-radius: 15px;
  background: -webkit-gradient(linear, left top, right top, from(#b9dff6), to(#5886f5));
  background: linear-gradient(to right, #b9dff6, #5886f5);
}
.step__circle {
  display: block;
  width: 50px;
  height: 50px;
  border: 10px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background-color: #ffffff;
  background-clip: padding-box;
}
/* формы */
.form__input {
  display: block;
  padding: 1.5rem;
  margin: 1rem 0rem;
  width: 100%;
  font-size: 1.4rem;
  border: 1px solid #b3b3b3;
}
.form__input:focus {
  border-color: #5886f5;
  -webkit-box-shadow: 0px 0px 10px #5886f5;
          box-shadow: 0px 0px 10px #5886f5;
}
.form__button {
  margin-top: 3.9rem;
}
