/* настройки шрифтов */
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans.eot');
  src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans.woff2') format('woff2'), url('../fonts/OpenSans.woff') format('woff'), url('../fonts/OpenSans.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'OpenSans-bold';
  src: url('../fonts/OpenSans-Bold.eot');
  src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold.woff2') format('woff2'), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* настройки цветов */
/* текст */
/* фоновые цвета */
/* рамки */
/* настройка длительности hover эффекта кнопок и ссылок */
/* базовые настройки */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "OpenSans", sans-serif;
  font-weight: 300;
  top: 0px;
  left: 0px;
  right: 0px;
  overflow-x: hidden;
}
a,
button,
input,
textarea,
select {
  outline: none;
  text-decoration: none;
}
a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0.5px;
}
/* кнопки */
.button {
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  color: #ffffff;
  background-color: #5886f5;
  border-radius: 2px;
  border: 1px solid #5886f5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.button:hover {
  background-color: #4075f4;
  -webkit-box-shadow: 5px 5px 20px #5886f5;
          box-shadow: 5px 5px 20px #5886f5;
}
/* заголовки */
.title {
  font-size: 2.8rem;
  font-weight: normal;
}
.section {
  padding: 8rem 0px 1rem 0px;
}
/* контейнер для контента */
.container {
  position: relative;
  max-width: 1100px;
  margin: 0px auto;
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 8px;
  }
  .container {
    max-width: 740px;
  }
  .title {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* формы */
.form {
  position: relative;
}
.form__input {
  display: block;
  padding: 1.5rem;
  margin: 1rem 0rem;
  height: 4.8rem;
  width: 100%;
  font-size: 1.4rem;
  border: 1px solid #b3b3b3;
}
.form__input:focus {
  border-color: #5886f5;
  -webkit-box-shadow: 0px 0px 10px #5886f5;
          box-shadow: 0px 0px 10px #5886f5;
}
.form__button {
  margin-top: 3.9rem;
}
.form__textarea {
  position: absolute;
  left: 26rem;
  top: 0px;
  padding: 1.5rem;
  width: 100%;
  height: 10.6rem;
  font-size: 1.4rem;
  border: 1px solid #b3b3b3;
  resize: none;
}
.form__textarea:focus {
  border-color: #5886f5;
  -webkit-box-shadow: 0px 0px 10px #5886f5;
          box-shadow: 0px 0px 10px #5886f5;
}
@media (max-width: 768px) {
  .form__textarea {
    position: static;
  }
}
/* header */
.header {
  font-size: 1.6rem;
  background-color: #000000;
  color: #ffffff;
}
.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
}
.header__phone {
  color: #ffffff;
}
.header__phone:hover {
  color: #cccccc;
}
.header__button {
  padding: 1rem 1.5rem;
  margin-left: 3rem;
  color: #ffffff;
  background-color: #5886f5;
  border-radius: 2px;
  border: 1px solid #5886f5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.header__button:hover {
  background-color: #4075f4;
  -webkit-box-shadow: 0px 5px 20px #5886f5;
          box-shadow: 0px 5px 20px #5886f5;
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo__img {
  width: 20rem;
}
/* главный экран */
.main {
  padding-top: 10rem;
  height: 600px;
  background: url(../img/bg-main.jpg) center no-repeat;
  background-size: cover;
}
.main-block {
  padding: 4rem 5.5rem;
  max-width: 480px;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.main-block__title {
  margin: 0px;
  font-size: 3.4rem;
  font-weight: normal;
}
.main-block__word {
  font-family: "OpenSans-bold", sans-serif;
  font-weight: 700;
}
.main-block__subtitle {
  margin-top: 2rem;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.5;
}
.main-block__button {
  margin-top: 2rem;
}
@media (max-width: 1200px) {
  .main {
    background-position: 55%;
  }
}
@media (max-width: 768px) {
  .main {
    background-position: 70%;
  }
  .main__block {
    margin: auto;
  }
}
@media (max-width: 992px) {
  .main-block {
    padding: 4rem;
    max-width: 380px;
  }
}
@media (max-width: 480px) {
  .header__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
  }
  .header__phone {
    margin-right: 0px;
  }
  .header__button {
    display: none;
  }
  .main {
    background: url(../img/bg-main-xs.jpg) right no-repeat;
    background-size: cover;
  }
  .main-block__title {
    font-size: 2.5rem;
  }
  .main-block__subtitle {
    margin-top: 2rem;
  }
  .main-block__button {
    display: block;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    width: 155px;
  }
}
/* наши преимущества */
.features {
  background-color: #ffffff;
}
.features__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem -1rem 0px -1rem;
}
.features__text {
  display: inline-block;
  margin-top: 3rem;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #707070;
}
.feature {
  padding: 0px 1rem;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  text-align: center;
}
.feature__img-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 140px;
}
.feature_one {
  background-color: #617192;
}
.feature_two {
  background-color: #1d9fd1;
}
.feature_three {
  background-color: #5686ae;
}
.feature_four {
  background-color: #5a8596;
}
@media (max-width: 768px) {
  .feature {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 0px;
    margin-bottom: 6rem;
  }
  .feature__img-bg {
    width: 250px;
    margin: auto;
  }
  .features__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/* карточки товаров */
.cards {
  padding-bottom: 8rem;
  background-color: #ffffff;
}
.cards__title {
  margin-bottom: 5rem;
}
.cards__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.cards__card {
  margin-bottom: 2rem;
}
.cards__img-wrap {
  position: relative;
  margin: 3rem auto;
  max-width: 280px;
  min-width: 250px;
  height: 250px;
}
.card {
  position: relative;
  padding: 2rem;
  max-width: 540px;
  min-width: 280px;
  background-color: #f1f5f9;
}
.card__title {
  font-size: 2.2rem;
  font-weight: normal;
}
.card__description {
  position: relative;
  margin-top: 2rem;
  height: 6.5rem;
  font-size: 1.4rem;
  color: #707070;
  overflow: hidden;
}
.card__description::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(241, 244, 249, 0.1)), to(#f1f4f9));
  background: linear-gradient(rgba(241, 244, 249, 0.1) 60%, #f1f4f9);
}
.card__img {
  display: block;
  max-width: 265px;
  min-width: 200px;
  height: 100%;
  margin: 0px auto;
}
.card__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__price {
  font-size: 2.4rem;
  font-weight: normal;
  color: #707070;
}
.card__link {
  position: absolute;
  top: 16rem;
  right: 3rem;
  font-size: 1.4rem;
  text-align: right;
  color: #707070;
  cursor: pointer;
}
.card__link:hover {
  border-bottom: 1px dotted #707070;
}
/* больше товаров */
.more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.more__title {
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
}
.more__link {
  display: inline-block;
  margin-left: 1.5rem;
}
.more__img {
  width: 3rem;
  height: 3rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.more__img:hover {
  width: 3.5rem;
  height: 3.5rem;
  margin: -0.25rem;
}
@media (max-width: 1200px) {
  .card {
    max-width: 475px;
  }
}
@media (max-width: 992px) {
  .card {
    max-width: 365px;
  }
}
@media (max-width: 768px) {
  .cards__wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cards__card {
    margin: 2rem;
  }
  .more__inner {
    margin-top: 1.5rem;
  }
}
@media (max-width: 480px) {
  .card {
    padding: 1.5rem;
    margin: 0px;
    margin-top: 2rem;
  }
}
/* скидка 10 % */
.discount {
  padding-bottom: 8rem;
  background: url(../img/discount/discount-bg.jpg) center no-repeat;
  background-size: cover;
}
.discount__form {
  margin-top: 4rem;
}
@media (max-width: 1200px) {
  .discount {
    background-position: 60%;
  }
}
@media (max-width: 768px) {
  .discount {
    background-position: 70%;
  }
  .discount__block {
    margin: auto;
  }
}
@media (max-width: 768px) and (max-width: 480px) {
  .discount {
    background-position: 85%;
  }
}
/* 4 простых шага */
.step {
  padding-bottom: 8rem;
  background-color: #ffffff;
}
.step__title {
  margin: 0px 0px 4rem 0px;
}
.step__text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.step__text {
  margin-bottom: 3rem;
  width: 25%;
  font-size: 1.4rem;
  color: #707070;
}
.step__text_bottom {
  position: relative;
  top: 15rem;
}
.step__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.2rem 0px;
  width: 100%;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  vertical-align: middle;
  color: #707070;
  font-family: "OpenSans-bold", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  border-radius: 1.5rem;
  background: -webkit-gradient(linear, left top, right top, from(#b9dff6), to(#5886f5));
  background: linear-gradient(to right, #b9dff6, #5886f5);
}
.step__circle {
  display: block;
  width: 5rem;
  height: 5rem;
  border: 1rem solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background-color: #ffffff;
  background-clip: padding-box;
}
@media (max-width: 768px) {
  .step {
    padding-bottom: 0px;
  }
  .step__text-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .step__line {
    position: absolute;
    top: 35px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 3rem;
    height: 400px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
    background: linear-gradient(#ffffff, #ffffff);
  }
  .step__text {
    position: static;
    z-index: 10;
    margin-top: 5rem;
    width: 100%;
  }
  .step__text:last-child {
    margin-bottom: 0px;
  }
  .step__circle {
    margin-bottom: 6.8rem;
  }
}
/* отзывы */
.review {
  padding-bottom: 6rem;
  background-color: #ffffff;
  font-size: 1.4rem;
}
.review__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.review__block {
  width: 23%;
  text-align: center;
}
.review__text {
  color: #707070;
}
.review__name {
  display: block;
  margin-bottom: 1rem;
}
@media (max-width: 992px) {
  .review__block {
    margin-bottom: 2rem;
    width: 40%;
  }
}
@media (max-width: 768px) {
  .review__block {
    margin-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
  }
}
/* остались вопросы */
.question {
  padding-bottom: 0px;
}
.question__map {
  height: 45rem;
  width: 100%;
  border: none;
}
.question__container {
  position: relative;
}
.question__block {
  position: absolute;
  top: -41.5rem;
  max-width: 62rem;
}
.question__input {
  max-width: 25rem;
}
.question__button {
  margin-top: 1rem;
}
@media (max-width: 992px) {
  .question__block {
    max-width: 58.8rem;
  }
}
@media (max-width: 768px) {
  .question__block {
    position: static;
    max-width: 380px;
    margin: 1rem auto;
  }
  .question__input {
    max-width: 100%;
  }
}
/* footer */
.footer {
  padding: 2rem 0px;
  font-size: 1.4rem;
  color: #ffffff;
  background-color: #000000;
}
.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__address {
  display: block;
  margin-top: 1.5rem;
  font-weight: normal;
}
.footer__phone {
  font-size: 2.4rem;
  color: #ffffff;
}
.footer__phone:hover {
  color: #cccccc;
}
.footer__button {
  display: block;
  margin-top: 1.5rem;
  border-bottom: 1px dashed #ffffff;
  color: #ffffff;
  cursor: pointer;
}
.footer__button:hover {
  color: #cccccc;
  border-color: #cccccc;
}
@media (max-width: 480px) {
  .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__phone {
    display: block;
    margin-top: 1.5rem;
  }
}
/* модальные окна */
.modal {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 999999999;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.modal__inner {
  width: 100%;
  max-width: 48rem;
  min-height: auto;
  max-height: 100%;
  padding: 0px 10px;
}
.modal__inner_size {
  max-width: 110rem;
}
.modal__content {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 30rem;
  padding: 4rem;
  margin: 10px 0px;
  background-color: #ffffff;
  overflow: hidden;
}
.modal__btn {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
}
.modal__title {
  margin: 0px;
  margin-bottom: 1.8rem;
  font-size: 2.2rem;
  font-weight: normal;
}
.modal__title_center {
  text-align: center;
}
.modal__text {
  display: block;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.5;
}
.modal__button {
  width: 100%;
  margin-top: 1.5rem;
}
.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}
/* всплывающая карточка товара*/
.card-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}
/* слайдер */
.slider {
  position: relative;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  -ms-flex-item-align: center;
      align-self: center;
  height: 50rem;
}
.slider__btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.slider__inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.slider__img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
.slider__img:first-child {
  opacity: 1;
}
.js-btn-prev {
  left: 10px;
}
.js-btn-next {
  right: 10px;
}
/* описание товара*/
.description {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding: 2rem;
  font-size: 1.4rem;
  line-height: 1.3;
  color: #707070;
}
.description__title {
  margin: 0.5rem 0px;
  color: #000000;
}
.description__text {
  margin: 0.5rem 0px;
}
.description__list {
  margin: 0.5rem 0px;
  padding-left: 0px;
}
.description__item {
  display: block;
  list-style-type: none;
}
.description__character {
  color: #000000;
}
@media (max-width: 1200px) {
  .slider {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
  }
  .description {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}
@media (max-width: 992px) {
  .slider {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .description {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
@media (max-width: 768px) {
  .modal__content {
    padding: 2rem;
    min-height: 28rem;
  }
  .card-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .slider {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .description {
    padding: 0px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
@media (max-width: 480px) {
  .modal__inner {
    padding: 0px;
  }
}
.a18622da_e04c_41fc_b6ea_82a9b5417c40_6bd79e10_5bb8_4d3b_a208_ccc01b469bf4_root {
  display: none;
}
